<launch>

	<node pkg="tf" type="static_transform_publisher" name="gantry" args="0.12 -0.025 0 0 0 0 base_link gantry 100"  />
	
	<!--node pkg="tf" type="static_transform_publisher" name="gantry_carriage" args="0.3 -0.13 0.365 0 0 0 gantry gantry_carriage 100"  /-->

	<node pkg="tf" type="static_transform_publisher" name="probe_rail" args="0 .24 -0.35 0 0 -.526 gantry_carriage probe_rail 100"  />

	<node pkg="rviz" type="rviz" name="Probe_Visualization" args="-d $(find probe)/launch/probe.rviz"/>/>


  	<node name="classify" pkg="probe" type="classify" output="screen"/>


	<param name ="/use_sim_time" value="true"/>

</launch>